In [28]:
import pandas as pd
import numpy as np
import os

#COLUMNS:
#Year
#Age
#Gender
#City
#Position
#Years of experience
#Current level
#Current Salary
#Main language at work
#Company size
#Company type

In [29]:
#2018
df18 = pd.read_csv('IT Salary Survey EU 2018.csv')

df18 = df18.drop(['Salary one year ago', 'Salary two years ago', 'Are you getting any Stock Options?'], axis = 1)
#We data about salary in a year, so data about salary in two years ago and stock options will be dropped

df18 = df18.rename(columns = {'Your level': 'Current level'})
df18 = df18.rename(columns = {'Timestamp': 'Year'})
#Rename the column to make it easier to understand

df18 = df18.dropna(subset=['Position', 'Current level', 'Current Salary'])
df18 = df18.drop_duplicates()
#Remove row with null value in columns: 'Position', 'Current level' and 'Current Salary' 

df18['Year'] = '2018'
#Change all data in column 'Year' to '2018' for each row

df18 = df18.fillna({'Age': df18['Age'].mean()})
df18 = df18.fillna({'Years of experience': df18['Years of experience'].mean()})
#Row with null data in 'Age' and 'Years of experience', fill by mean value

df18 = df18.fillna({'Gender': 'M'})
#Add value 'M' to row with null value in columns 'Gender'

df18

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
0,2018,43.000000,M,München,QA Ingenieur,11.0,Senior,77000.0,Deutsch,100-1000,Product
1,2018,33.000000,F,München,Senior PHP Magento developer,8.0,Senior,65000.0,Deutsch,50-100,Product
2,2018,32.000000,M,München,Software Engineer,10.0,Senior,88000.0,Deutsch,1000+,Product
3,2018,25.000000,M,München,Senior Frontend Developer,6.0,Senior,78000.0,English,1000+,Product
4,2018,39.000000,M,München,UX Designer,10.0,Senior,69000.0,English,100-1000,Ecom retailer
...,...,...,...,...,...,...,...,...,...,...,...
756,2018,52.000000,M,Köln,IT Engineer,30.0,Middle,63000.0,English,1000+,Agency
760,2018,40.000000,M,Köln,Java Developer junior,1.0,Junior,44000.0,Deutsch,10-50,Product
761,2018,32.115031,M,Köln,E.g. C# Developer,1.0,Junior,45000.0,Deutsch,10-50,Product
762,2018,32.115031,M,Köln,E.g. C# Developer,1.0,Junior,45000.0,Deutsch,10-50,Product
764,2018,31.000000,F,München,Pm,10.0,Senior,110000.0,English,1000+,Product

In [30]:
#2019
df19 = pd.read_csv('IT Salary Survey EU 2019.csv')

df19 = df19.drop(['Your main technology / programming language', 'Yearly bonus', 'Yearly stocks', 'Yearly brutto salary (without bonus and stocks) one year ago. Only answer if staying in same country', 'Yearly bonus one year ago. Only answer if staying in same country'], axis = 1)
df19 = df19.drop(['Yearly stocks one year ago. Only answer if staying in same country', 'Number of vacation days', 'Number of home office days per month', 'Company name ', 'Сontract duration', 'Company business sector', '0'], axis = 1)
#In this file csv, we have many columns than previous file. To retain columns for analysis, we are dropping other columns

df19 = df19.rename(columns = {'Zeitstempel': 'Year','Seniority level': 'Current level', 'Position (without seniority)': 'Position', 'Yearly brutto salary (without bonus and stocks)': 'Current Salary'})
#Some columns, we rename to they have same name in df18

df19 = df19.dropna(subset=['Position', 'Current level', 'Current Salary'])
df19 = df19.drop_duplicates()
#Do the same with dataframe df18

df19['Year'] = '2019'
#Do the same with dataframe df18

df19 = df19.fillna({'Age': df19['Age'].mean()})
df19 = df19.fillna({'Years of experience': df19['Years of experience'].mean()})
#Do the same with dataframe df18

df19 = df19.fillna({'Gender': 'M'})
#Do the same with dataframe df18

df19 = df19.reindex(columns = ['Year', 'Age', 'Gender', 'City', 'Position', 'Years of experience', 'Current level', 'Current Salary', 'Main language at work', 'Company size', 'Company type'])
#Change the order of columns to the same order as columns in dataframe df18

df19

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
0,2019,33.000000,Male,Berlin,Fullstack Developer,13,Senior,64000.0,English,50-100,Startup
1,2019,29.000000,Male,Berlin,Backend Developer,3,Middle,55000.0,English,10-50,Product
2,2019,32.412844,Male,Berlin,Mobile Developer,4,Middle,70000.0,English,1000+,Startup
3,2019,30.000000,Male,Berlin,Backend Developer,6,Senior,63000.0,English,100-1000,Product
4,2019,32.000000,Male,Berlin,Embedded Developer,10,Senior,66000.0,English,50-100,Product
...,...,...,...,...,...,...,...,...,...,...,...
986,2019,30.000000,Male,Amsterdam,Backend Developer,10,Senior,71000.0,English,1000+,Product
987,2019,28.000000,Male,Amsterdam,Security Engineer,7,Senior,72000.0,English,1000+,Bank
988,2019,42.000000,Male,Munich,Manager,9,Senior,68000.0,English,1000+,Product
989,2019,33.000000,Male,Berlin,Software Architect,15,Senior,100000.0,English,1000+,Product
990,2019,32.000000,Male,Frankfurt,Fullstack Developer,5,Middle,63000.0,Deutsch,1000+,Consulting / Agency

In [31]:
#2020
df20 = pd.read_csv('IT Salary Survey EU 2020.csv')

df20 = df20.drop(['Your main technology / programming language', 'Years of experience in Germany', 'Other technologies/programming languages you use often'], axis = 1)
df20 = df20.drop(['Yearly bonus + stocks in EUR', 'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country', 'Annual bonus+stocks one year ago. Only answer if staying in same country'], axis = 1)
df20 = df20.drop(['Number of vacation days', 'Employment status', 'Сontract duration', 'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week', 'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'], axis = 1)
#Do the same with dataframe df19

df20 = df20.rename(columns = {'Timestamp': 'Year', 'Total years of experience': 'Years of experience', 'Seniority level': 'Current level', 'Yearly brutto salary (without bonus and stocks) in EUR': 'Current Salary', 'Position ': 'Position'})
#Do the same with dataframe df19

df20 = df20.dropna(subset=['Position', 'Current level', 'Current Salary'])
df20 = df20.drop_duplicates()
#Do the same with dataframe df18

df20['Year'] = '2020'
#Do the same with dataframe df18

df20 = df20.fillna({'Age': df20['Age'].mean()})
#Do the same with dataframe df18

df20 = df20.fillna({'Gender': 'M'})
#Do the same with dataframe df18

df20 = df20.reindex(columns = ['Year', 'Age', 'Gender', 'City', 'Position', 'Years of experience', 'Current level', 'Current Salary', 'Main language at work', 'Company size', 'Company type'])
#Change the order of columns to the same order as columns in dataframe df18

df20

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
0,2020,26.0,Male,Munich,Software Engineer,5,Senior,80000.0,English,51-100,Product
1,2020,26.0,Male,Berlin,Backend Developer,7,Senior,80000.0,English,101-1000,Product
2,2020,29.0,Male,Berlin,Software Engineer,12,Lead,120000.0,English,101-1000,Product
3,2020,28.0,Male,Berlin,Frontend Developer,4,Junior,54000.0,English,51-100,Startup
4,2020,37.0,Male,Berlin,Backend Developer,17,Senior,62000.0,English,101-1000,Product
...,...,...,...,...,...,...,...,...,...,...,...
1248,2020,31.0,Male,Berlin,Backend Developer,9,Senior,70000.0,English,51-100,Product
1249,2020,33.0,Male,Berlin,Researcher/ Consumer Insights Analyst,10,Senior,60000.0,English,1000+,Product
1250,2020,39.0,Male,Munich,IT Operations Manager,15,Lead,110000.0,English,101-1000,eCommerce
1251,2020,26.0,Male,Saarbrücken,Frontend Developer,7,Middle,38350.0,German,101-1000,Product
1252,2020,26.0,Male,Berlin,DevOps,2,Middle,65000.0,English,51-100,Startup

In [33]:
df = pd.concat([df18, df19, df20], axis = 0)
df.to_csv('IT Salary 2018_2019_2020.csv')
#Merge all files and create another file .csv to process data

df['Gender'] = df['Gender'].replace("F","Female")
df['Gender'] = df['Gender'].replace("M","Male")
#Replace data for ease of data processing

df['Index'] = range(0, len(df))
df = df.set_index('Index')
#Create a new index for this dataframe

df

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
Index,,,,,,,,,,,
0,2018,43.0,Male,München,QA Ingenieur,11.0,Senior,77000.0,Deutsch,100-1000,Product
1,2018,33.0,Female,München,Senior PHP Magento developer,8.0,Senior,65000.0,Deutsch,50-100,Product
2,2018,32.0,Male,München,Software Engineer,10.0,Senior,88000.0,Deutsch,1000+,Product
3,2018,25.0,Male,München,Senior Frontend Developer,6.0,Senior,78000.0,English,1000+,Product
4,2018,39.0,Male,München,UX Designer,10.0,Senior,69000.0,English,100-1000,Ecom retailer
...,...,...,...,...,...,...,...,...,...,...,...
2936,2020,31.0,Male,Berlin,Backend Developer,9,Senior,70000.0,English,51-100,Product
2937,2020,33.0,Male,Berlin,Researcher/ Consumer Insights Analyst,10,Senior,60000.0,English,1000+,Product
2938,2020,39.0,Male,Munich,IT Operations Manager,15,Lead,110000.0,English,101-1000,eCommerce
2939,2020,26.0,Male,Saarbrücken,Frontend Developer,7,Middle,38350.0,German,101-1000,Product
2940,2020,26.0,Male,Berlin,DevOps,2,Middle,65000.0,English,51-100,Startup

In [34]:
df.dtypes
#Find out the data type of each column in the dataframe

Year                      object
Age                      float64
Gender                    object
City                      object
Position                  object
Years of experience       object
Current level             object
Current Salary           float64
Main language at work     object
Company size              object
Company type              object
dtype: object

In [55]:
#Calculate the typical values of the column 'Age' and 'Current Salary'
print(df['Age'].describe())
print(f"")
print(df['Current Salary'].describe())

count    2941.000000
mean       32.360422
std         5.195758
min        20.000000
25%        29.000000
50%        32.000000
75%        35.000000
max        69.000000
Name: Age, dtype: float64

count    2.941000e+03
mean     2.409915e+05
std      9.218552e+06
min      6.000000e+03
25%      5.800000e+04
50%      6.800000e+04
75%      8.000000e+04
max      5.000000e+08
Name: Current Salary, dtype: float64

In [56]:
#Evaluating data
print(f"Current data's shape:", df.shape)
if (df.shape[0] > 1000):
    print(f"Your data good!")
else:
    print(f"Your data absolutelysmall!")

Current data's shape: (2941, 11)
Your data good!