In [91]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Data Explaination
Our data have 3 csv files: IT Salary Survey EU 2018.csv, IT Salary Survey EU 2019.csv, IT Salary Survey EU 2020.csv.
Our plain in preprocessing will be like this:
- Firstly, preprocessing in each csv file and let all of them have the same properties.
- Secondly, combine three dataframes into one and create a new file with the title 'IT Salary 2018_2019_2020.csv'.
- Finally, Explore data and preprocessing it.

Our IT Salary 2018_2019_2020.csv will have the following columns:
- Year
- Age
- Gender
- City
- Position
- Years of experience
- Current level
- Current Salary
- Main language at work
- Company size
- Company type

# Firstly, preprocessing in each CSV file

## Preprocessing in IT Salary Survey EU 2018.csv

Some work we will do:
- Drop unnecessary columns
- Rename the column based on the original rules
- Fill null values
- Change the order of columns to the original rules

In [2]:
#2018
df18 = pd.read_csv('../data/external/IT Salary Survey EU 2018.csv')

#We data about salary in a year, so data about salary in two years ago and stock options will be dropped
df18 = df18.drop(['Salary one year ago', 'Salary two years ago', 'Are you getting any Stock Options?'], axis = 1)

#Rename the column to make it easier to understand
df18 = df18.rename(columns = {'Your level': 'Current level'})
df18 = df18.rename(columns = {'Timestamp': 'Year'})

#Remove row with null value in columns: 'Position', 'Current level' and 'Current Salary' 
df18 = df18.dropna(subset=['Position', 'Current level', 'Current Salary'])
df18 = df18.drop_duplicates()

#Change all data in column 'Year' to '2018' for each row
df18['Year'] = '2018'

#Row with null data in 'Age' and 'Years of experience', fill by median value
df18 = df18.fillna({'Age': df18['Age'].median()})
df18 = df18.fillna({'Years of experience': df18['Years of experience'].median()})

# Drop row where Gender is null
df18 = df18.drop(df18[df18['Gender'].isnull()].index)

# Change all M and F in Gender into Male and Female
df18['Gender'] = df18['Gender'].replace("F","Female")
df18['Gender'] = df18['Gender'].replace("M","Male")

df18

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
0,2018,43.0,Male,München,QA Ingenieur,11.0,Senior,77000.0,Deutsch,100-1000,Product
1,2018,33.0,Female,München,Senior PHP Magento developer,8.0,Senior,65000.0,Deutsch,50-100,Product
2,2018,32.0,Male,München,Software Engineer,10.0,Senior,88000.0,Deutsch,1000+,Product
3,2018,25.0,Male,München,Senior Frontend Developer,6.0,Senior,78000.0,English,1000+,Product
4,2018,39.0,Male,München,UX Designer,10.0,Senior,69000.0,English,100-1000,Ecom retailer
...,...,...,...,...,...,...,...,...,...,...,...
756,2018,52.0,Male,Köln,IT Engineer,30.0,Middle,63000.0,English,1000+,Agency
760,2018,40.0,Male,Köln,Java Developer junior,1.0,Junior,44000.0,Deutsch,10-50,Product
761,2018,32.0,Male,Köln,E.g. C# Developer,1.0,Junior,45000.0,Deutsch,10-50,Product
762,2018,32.0,Male,Köln,E.g. C# Developer,1.0,Junior,45000.0,Deutsch,10-50,Product
764,2018,31.0,Female,München,Pm,10.0,Senior,110000.0,English,1000+,Product

## Preprocessing in IT Salary Survey EU 2019.csv
Some work we will do:
- Drop unnecessary columns
- Rename the column based on the original rules
- Fill nan value
- Change the order of columns to the original rules

In [3]:
#2019
df19 = pd.read_csv('../data/external/IT Salary Survey EU 2019.csv')

#In this file csv, we have many columns than previous file. To retain columns for analysis, we are dropping other columns
df19 = df19.drop(['Your main technology / programming language', 'Yearly bonus', 'Yearly stocks', 'Yearly brutto salary (without bonus and stocks) one year ago. Only answer if staying in same country', 'Yearly bonus one year ago. Only answer if staying in same country'], axis = 1)
df19 = df19.drop(['Yearly stocks one year ago. Only answer if staying in same country', 'Number of vacation days', 'Number of home office days per month', 'Company name ', 'Сontract duration', 'Company business sector', '0'], axis = 1)

#Some columns, we rename to they have same name in df18
df19 = df19.rename(columns = {'Zeitstempel': 'Year','Seniority level': 'Current level', 'Position (without seniority)': 'Position', 'Yearly brutto salary (without bonus and stocks)': 'Current Salary'})

#Do the same with dataframe df18
df19 = df19.dropna(subset=['Position', 'Current level', 'Current Salary'])
df19 = df19.drop_duplicates()

#Do the same with dataframe df18
df19['Year'] = '2019'

#Do the same with dataframe df18
df19 = df19.fillna({'Age': df19['Age'].median()})
df19 = df19.fillna({'Years of experience': df19['Years of experience'].median()})

# Drop row where Gender is null
df19 = df19.drop(df19[df19['Gender'].isnull()].index)

#Change the order of columns to the same order as columns in dataframe df18
df19 = df19.reindex(columns = ['Year', 'Age', 'Gender', 'City', 'Position', 'Years of experience', 'Current level', 'Current Salary', 'Main language at work', 'Company size', 'Company type'])

df19

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
0,2019,33.0,Male,Berlin,Fullstack Developer,13,Senior,64000.0,English,50-100,Startup
1,2019,29.0,Male,Berlin,Backend Developer,3,Middle,55000.0,English,10-50,Product
2,2019,32.0,Male,Berlin,Mobile Developer,4,Middle,70000.0,English,1000+,Startup
3,2019,30.0,Male,Berlin,Backend Developer,6,Senior,63000.0,English,100-1000,Product
4,2019,32.0,Male,Berlin,Embedded Developer,10,Senior,66000.0,English,50-100,Product
...,...,...,...,...,...,...,...,...,...,...,...
986,2019,30.0,Male,Amsterdam,Backend Developer,10,Senior,71000.0,English,1000+,Product
987,2019,28.0,Male,Amsterdam,Security Engineer,7,Senior,72000.0,English,1000+,Bank
988,2019,42.0,Male,Munich,Manager,9,Senior,68000.0,English,1000+,Product
989,2019,33.0,Male,Berlin,Software Architect,15,Senior,100000.0,English,1000+,Product
990,2019,32.0,Male,Frankfurt,Fullstack Developer,5,Middle,63000.0,Deutsch,1000+,Consulting / Agency

## Preprocessing in IT Salary Survey EU 2020.csv
Some work we will do:
- Drop unnecessary columns
- Rename the column based on the original rules
- Fill nan value
- Change the order of columns to the original rules

In [4]:
#2020
df20 = pd.read_csv('../data/external/IT Salary Survey EU 2020.csv')

# In this file csv, we have many columns than previous file. To retain columns for analysis, we are dropping other columns
df20 = df20.drop(['Your main technology / programming language', 'Years of experience in Germany', 'Other technologies/programming languages you use often'], axis = 1)
df20 = df20.drop(['Yearly bonus + stocks in EUR', 'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country', 'Annual bonus+stocks one year ago. Only answer if staying in same country'], axis = 1)
df20 = df20.drop(['Number of vacation days', 'Employment status', 'Сontract duration', 'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week', 'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'], axis = 1)

#Do the same with dataframe df19
df20 = df20.rename(columns = {'Timestamp': 'Year', 'Total years of experience': 'Years of experience', 'Seniority level': 'Current level', 'Yearly brutto salary (without bonus and stocks) in EUR': 'Current Salary', 'Position ': 'Position'})

#Do the same with dataframe df18
df20 = df20.dropna(subset=['Position', 'Current level', 'Current Salary'])
df20 = df20.drop_duplicates()

#Do the same with dataframe df18
df20['Year'] = '2020'

#Do the same with dataframe df18
df20 = df20.fillna({'Age': df20['Age'].median()})

# Drop row where Gender is null
df20 = df20.drop(df20[df20['Gender'].isnull()].index)

df20 = df20.reindex(columns = ['Year', 'Age', 'Gender', 'City', 'Position', 'Years of experience', 'Current level', 'Current Salary', 'Main language at work', 'Company size', 'Company type'])
#Change the order of columns to the same order as columns in dataframe df18

df20

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
0,2020,26.0,Male,Munich,Software Engineer,5,Senior,80000.0,English,51-100,Product
1,2020,26.0,Male,Berlin,Backend Developer,7,Senior,80000.0,English,101-1000,Product
2,2020,29.0,Male,Berlin,Software Engineer,12,Lead,120000.0,English,101-1000,Product
3,2020,28.0,Male,Berlin,Frontend Developer,4,Junior,54000.0,English,51-100,Startup
4,2020,37.0,Male,Berlin,Backend Developer,17,Senior,62000.0,English,101-1000,Product
...,...,...,...,...,...,...,...,...,...,...,...
1248,2020,31.0,Male,Berlin,Backend Developer,9,Senior,70000.0,English,51-100,Product
1249,2020,33.0,Male,Berlin,Researcher/ Consumer Insights Analyst,10,Senior,60000.0,English,1000+,Product
1250,2020,39.0,Male,Munich,IT Operations Manager,15,Lead,110000.0,English,101-1000,eCommerce
1251,2020,26.0,Male,Saarbrücken,Frontend Developer,7,Middle,38350.0,German,101-1000,Product
1252,2020,26.0,Male,Berlin,DevOps,2,Middle,65000.0,English,51-100,Startup

# Secondly, combine csv files

Combine three dataframes into one and create a new file with the title 'IT Salary 2018_2019_2020.csv'.

In [5]:
#Merge all files and create a file .csv to process data
df = pd.concat([df18, df19, df20], axis = 0)
df.to_csv('../data/internal/raw/IT Salary 2018_2019_2020.csv', index = False)

# Finally, explore our data

### Read data from file

In [6]:
#Read data
df = pd.read_csv("../data/internal/raw/IT Salary 2018_2019_2020.csv")
df

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
0,2018,43.0,Male,München,QA Ingenieur,11.0,Senior,77000.0,Deutsch,100-1000,Product
1,2018,33.0,Female,München,Senior PHP Magento developer,8.0,Senior,65000.0,Deutsch,50-100,Product
2,2018,32.0,Male,München,Software Engineer,10.0,Senior,88000.0,Deutsch,1000+,Product
3,2018,25.0,Male,München,Senior Frontend Developer,6.0,Senior,78000.0,English,1000+,Product
4,2018,39.0,Male,München,UX Designer,10.0,Senior,69000.0,English,100-1000,Ecom retailer
...,...,...,...,...,...,...,...,...,...,...,...
2927,2020,31.0,Male,Berlin,Backend Developer,9,Senior,70000.0,English,51-100,Product
2928,2020,33.0,Male,Berlin,Researcher/ Consumer Insights Analyst,10,Senior,60000.0,English,1000+,Product
2929,2020,39.0,Male,Munich,IT Operations Manager,15,Lead,110000.0,English,101-1000,eCommerce
2930,2020,26.0,Male,Saarbrücken,Frontend Developer,7,Middle,38350.0,German,101-1000,Product
2931,2020,26.0,Male,Berlin,DevOps,2,Middle,65000.0,English,51-100,Startup

### How many rows and columns?

In [7]:
rows = df.shape[0]
cols = df.shape[1]
print("Rows:" , rows)
print("Columns:" , cols)

Rows: 2932
Columns: 11

### What is the meaning of each row?

Each row  contains data of **1 person** in IT field about various types of information such as gender, annual salary, position, years of experience, current level, main language,...

### Are there duplicated rows?

In [8]:
num_duplicated_rows = len(df)-len(df.drop_duplicates())
num_duplicated_rows

39

Our data have 39 duplicated rows, so we delete them

In [9]:
df.drop_duplicates(inplace = True)

### What is the meaning of each column?

We will explain the meaning of each column here:
- Year: The year this person had this salary
- Age: Age when this person has this salary 
- Gender: Gender of this person (Female or Male)
- Position: Position of this person in company such as Developer, Manager, CTO,...
- Years of experience: The number of years this person has worked in IT industry
- Current level: This person's current level in the company such as (Intern, Fresher, Junior, Senior,...)
- Current Salary: The current salary of this person
- Main language at work: main language this person use at work
- Company size: The number of emloyees in his/her company
- Company type: Type of company such as Product, Startup,...

### What is the current data type of each column? Are there columns having inappropriate data types??

In [10]:
#Find out the data type of each column in the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2893 entries, 0 to 2931
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   2893 non-null   int64
 1   Age                    2893 non-null   float64
 2   Gender                 2893 non-null   object
 3   City                   2876 non-null   object
 4   Position               2893 non-null   object
 5   Years of experience    2882 non-null   object
 6   Current level          2893 non-null   object
 7   Current Salary         2893 non-null   float64
 8   Main language at work  2876 non-null   object
 9   Company size           2867 non-null   object
 10  Company type           2826 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 271.2+ KB

We observe that **Years of experience** has categorical type. However, we think it should be numeric type because it is the number of years. Hence, we will change it into numeric type.

In [11]:
# Delete noise row
year_delete = ['less than year', '383',"1 (as QA Engineer) / 11 in total","6 (not as a data scientist. but as a lab scientist)","15. thereof 8 as CTO", '15. thereof 8 as CTO']
for value in year_delete:
    df = df.drop(df[df['Years of experience'] == value].index)

# Delete row have nan value
df = df.dropna(subset=['Years of experience'])

# Replace ',' into '.' in 'Years of experience' column
df['Years of experience'] = df['Years of experience'].replace(",", ".", regex = True)

# Drop row whose Years of experience value is out of format
df = df[df['Years of experience'].str.contains('\d{1,2}\.?\d{,2}$', regex=True)]

# Change to numeric type
df['Years of experience'] = df['Years of experience'].astype(float)

### With each numerical column how are values distributed?
- What is the percentage of missing values?
-  Min? max? Are they abnormal?

For columns with numeric data types, we will calculate:
- Percentage (from 0 to 100) of missing values
- The min
- The lower quartile (phân vị 25)
- The median (phân vị 50)
- The upper quartile (phân vị 75)
- The max

We will save the results to a DataFrame `num_col_info_df`, where:
- The names of the columns are the names of the numeric columns in `df`
- Names of rows: "missing_ratio", "min", "lower_quartile", "median", "upper_quartile", "max"

In [12]:
def missing_ratio(x):
    missing_ratio = x.isnull().sum()/len(x)
    return missing_ratio.round(1)

def lower_quartile(x):
    return x.quantile(0.25).round(1)

def median(x):
    return x.median()

def upper_quartile(x):
    return x.quantile(0.75).round(1)

num_col_info_df = pd.DataFrame(df.select_dtypes(include = [np.number]))
num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median,upper_quartile, "max"])
num_col_info_df

                  Year   Age  Years of experience  Current Salary
missing_ratio      0.0   0.0                  0.0             0.0
min             2018.0  20.0                  0.0          6000.0
lower_quartile  2019.0  29.0                  5.0         58000.0
median          2019.0  32.0                  8.0         68000.0
upper_quartile  2020.0  35.0                 11.0         80000.0
max             2020.0  66.0                 40.0     500000000.0

We observe that max of current salary is very abnormal. There are 500000000 USD per year. Thus, we process it below.

In [13]:
df = df.drop(df[df['Current Salary'] == df['Current Salary'].max()].index)

In [14]:
num_col_info_df = pd.DataFrame(df.select_dtypes(include=[np.number]))
num_col_info_df = num_col_info_df.agg([ missing_ratio,"min",lower_quartile, median,upper_quartile,"max"])
num_col_info_df

                  Year   Age  Years of experience  Current Salary
missing_ratio      0.0   0.0                  0.0             0.0
min             2018.0  20.0                  0.0          6000.0
lower_quartile  2019.0  29.0                  5.0         58000.0
median          2019.0  32.0                  8.0         68000.0
upper_quartile  2020.0  35.0                 11.0         80000.0
max             2020.0  66.0                 40.0        850000.0

After doublechecking, We observe that max of current salary is abnormal. There are 850000 USD per year. Thus, we process it below.

In [15]:
df = df.drop(df[df['Current Salary'] == df['Current Salary'].max()].index)

In [16]:
num_col_info_df = pd.DataFrame(df.select_dtypes(include=[np.number]))
num_col_info_df = num_col_info_df.agg([ missing_ratio,"min",lower_quartile, median,upper_quartile,"max"])
num_col_info_df

                  Year   Age  Years of experience  Current Salary
missing_ratio      0.0   0.0                  0.0             0.0
min             2018.0  20.0                  0.0          6000.0
lower_quartile  2019.0  29.0                  5.0         58000.0
median          2019.0  32.0                  8.0         68000.0
upper_quartile  2020.0  35.0                 11.0         80000.0
max             2020.0  66.0                 40.0        300000.0

In [17]:
df[df['Current Salary'] == 300000]

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
2267,2020,24.0,Male,Munich,Data Scientist,1.0,Junior,300000.0,English,101-1000,Startup

After rechecking, I see max salary is 300000 USD per year come from a person with a junior level, only has one year of experience and a startup company. Thus, i think it is abnormal so I delete it

In [18]:
df = df.drop(df[df['Current Salary'] == df['Current Salary'].max()].index)

### With each categorical column, how are values distributed?
- What is the percentage of missing values?
- How many different values? Show a few
- Are they abnormal?

For columns with non-numeric data types, you calculate:
- Percentage (from 0 to 100) of missing values.
- Number of values (the values here are different values and we do not consider missing values).

You will save the results to DataFrame `cat_col_info_df`, where:
- The names of the columns are the names of the non-numeric columns in `df`.
- The names of the lines are: "missing_ratio", "num_values", "value_ratios"

In [19]:
cat_col_info_df = df.select_dtypes(exclude = [np.number])

def missing_ratio(column):
    return ((column.isnull().sum() / column.shape[0]) * 100).round(1)

# Hàm tính số lượng giá trị
def num_values(column):
    return column.nunique()

# Hàm tính tỷ lệ của từng giá trị
def value_ratios(column):
    value_counts = column.value_counts() #Đếm số lượng của mỗi loại value trong 1 cột
    non_missing_count = value_counts.sum() #Tổng số lượng của tất cả value trong 1 cột
    ratios = (value_counts / non_missing_count * 100).round(1) #Lưu tỉ lệ vào Series
    ratios_dict = ratios.to_dict()
    sorted_ratios_dict = dict(sorted(ratios_dict.items(), key=lambda item: item[1], reverse=True))
    return sorted_ratios_dict

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

,Gender,City,Position,Current level,Main language at work,Company size,Company type
missing_ratio,0.0,0.6,0.0,0.0,0.6,0.8,2.2
num_values,3,181,518,22,20,8,100
value_ratios,"{'Male': 84.8, 'Female': 15.1, 'Diverse': 0.1}","{'Berlin': 47.3, 'Munich': 15.8, 'München': 8....","{'Backend Developer': 14.6, 'Software Engineer...","{'Senior': 55.8, 'Middle': 28.8, 'Lead': 6.7, ...","{'English': 79.3, 'Deutsch': 10.5, 'German': 6...","{'1000+': 34.1, '100-1000': 21.4, '101-1000': ...","{'Product': 62.7, 'Startup': 19.8, 'Consulting..."

After observe, there are several lines with null data. So we fixed below.

In [89]:
df['City'].fillna(df['City'].mode()[0], inplace=True)
df['Main language at work'].fillna(df['Main language at work'].mode()[0], inplace=True)
df['Company size'].fillna(df['Company size'].mode()[0], inplace=True)
df['Company type'].fillna(df['Company type'].mode()[0], inplace=True)

### Save our processed data

In [21]:
df.to_csv('../data/internal/processed/IT Salary 2018_2019_2020_processed.csv', index = False)