In [7]:
import pandas as pd
import numpy as np
import os

#COLUMNS:
#Year
#Age
#Gender
#City
#Position
#Years of experience
#Current level
#Current Salary
#Main language at work
#Company size
#Company type

In [ ]:
#2018
df18 = pd.read_csv('IT Salary Survey EU 2018.csv')
#We data about salary in 2018, so data about salary in two years ago and stock options will be dropped
df18 = df18.drop(['Salary one year ago', 'Salary two years ago', 'Are you getting any Stock Options?'], axis = 1)
df18 = df18.rename(columns = {'Your level': 'Current level'})
df18 = df18.rename(columns = {'Timestamp': 'Year'})
df18

In [ ]:
df18 = df18.dropna(subset=['Position', 'Current level', 'Current Salary'])
df18 = df18.drop_duplicates()
df18['Year'] = '2018'
df18 = df18.fillna({'Age': df18['Age'].mean()})
df18 = df18.fillna({'Gender': 'M'})
df18 = df18.fillna({'Years of experience': df18['Years of experience'].mean()})
df18

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
0,2018,43.000000,M,München,QA Ingenieur,11.0,Senior,77000.0,Deutsch,100-1000,Product
1,2018,33.000000,F,München,Senior PHP Magento developer,8.0,Senior,65000.0,Deutsch,50-100,Product
2,2018,32.000000,M,München,Software Engineer,10.0,Senior,88000.0,Deutsch,1000+,Product
3,2018,25.000000,M,München,Senior Frontend Developer,6.0,Senior,78000.0,English,1000+,Product
4,2018,39.000000,M,München,UX Designer,10.0,Senior,69000.0,English,100-1000,Ecom retailer
...,...,...,...,...,...,...,...,...,...,...,...
756,2018,52.000000,M,Köln,IT Engineer,30.0,Middle,63000.0,English,1000+,Agency
760,2018,40.000000,M,Köln,Java Developer junior,1.0,Junior,44000.0,Deutsch,10-50,Product
761,2018,32.115031,M,Köln,E.g. C# Developer,1.0,Junior,45000.0,Deutsch,10-50,Product
762,2018,32.115031,M,Köln,E.g. C# Developer,1.0,Junior,45000.0,Deutsch,10-50,Product
764,2018,31.000000,F,München,Pm,10.0,Senior,110000.0,English,1000+,Product

In [ ]:
#2019
df19 = pd.read_csv('IT Salary Survey EU 2019.csv')
df19 = df19.drop(['Your main technology / programming language', 'Yearly bonus', 'Yearly stocks', 'Yearly brutto salary (without bonus and stocks) one year ago. Only answer if staying in same country', 'Yearly bonus one year ago. Only answer if staying in same country'], axis = 1)
df19 = df19.drop(['Yearly stocks one year ago. Only answer if staying in same country', 'Number of vacation days', 'Number of home office days per month', 'Company name ', 'Сontract duration', 'Company business sector', '0'], axis = 1)
df19 = df19.rename(columns = {'Zeitstempel': 'Year','Seniority level': 'Current level', 'Position (without seniority)': 'Position', 'Yearly brutto salary (without bonus and stocks)': 'Current Salary'})
df19

,Year,Age,Gender,City,Current level,Position,Years of experience,Current Salary,Main language at work,Company size,Company type
0,02.12.2019 11:18:26,33.0,Male,Berlin,Senior,Fullstack Developer,13,64000.0,English,50-100,Startup
1,02.12.2019 11:18:35,29.0,Male,Berlin,Middle,Backend Developer,3,55000.0,English,10-50,Product
2,02.12.2019 11:18:56,NaN,Male,Berlin,Middle,Mobile Developer,4,70000.0,English,1000+,Startup
3,02.12.2019 11:19:08,30.0,Male,Berlin,Senior,Backend Developer,6,63000.0,English,100-1000,Product
4,02.12.2019 11:19:37,32.0,Male,Berlin,Senior,Embedded Developer,10,66000.0,English,50-100,Product
...,...,...,...,...,...,...,...,...,...,...,...
986,07.01.2020 09:23:01,30.0,Male,Amsterdam,Senior,Backend Developer,10,71000.0,English,1000+,Product
987,07.01.2020 10:08:18,28.0,Male,Amsterdam,Senior,Security Engineer,7,72000.0,English,1000+,Bank
988,07.01.2020 16:52:43,42.0,Male,Munich,Senior,Manager,9,68000.0,English,1000+,Product
989,08.01.2020 11:18:41,33.0,Male,Berlin,Senior,Software Architect,15,100000.0,English,1000+,Product
990,08.01.2020 22:20:08,32.0,Male,Frankfurt,Middle,Fullstack Developer,5,63000.0,Deutsch,1000+,Consulting / Agency

In [ ]:
df19 = df19.dropna(subset=['Position', 'Current level', 'Current Salary'])
df19 = df19.drop_duplicates()
df19['Year'] = '2019'
df19 = df19.fillna({'Age': df19['Age'].mean()})
df19 = df19.fillna({'Gender': 'M'})
df19 = df19.fillna({'Years of experience': df19['Years of experience'].mean()})
df19 = df19.reindex(columns = ['Year', 'Age', 'Gender', 'City', 'Position', 'Years of experience', 'Current level', 'Current Salary', 'Main language at work', 'Company size', 'Company type'])
df19

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
0,2019,33.000000,Male,Berlin,Fullstack Developer,13,Senior,64000.0,English,50-100,Startup
1,2019,29.000000,Male,Berlin,Backend Developer,3,Middle,55000.0,English,10-50,Product
2,2019,32.412844,Male,Berlin,Mobile Developer,4,Middle,70000.0,English,1000+,Startup
3,2019,30.000000,Male,Berlin,Backend Developer,6,Senior,63000.0,English,100-1000,Product
4,2019,32.000000,Male,Berlin,Embedded Developer,10,Senior,66000.0,English,50-100,Product
...,...,...,...,...,...,...,...,...,...,...,...
986,2019,30.000000,Male,Amsterdam,Backend Developer,10,Senior,71000.0,English,1000+,Product
987,2019,28.000000,Male,Amsterdam,Security Engineer,7,Senior,72000.0,English,1000+,Bank
988,2019,42.000000,Male,Munich,Manager,9,Senior,68000.0,English,1000+,Product
989,2019,33.000000,Male,Berlin,Software Architect,15,Senior,100000.0,English,1000+,Product
990,2019,32.000000,Male,Frankfurt,Fullstack Developer,5,Middle,63000.0,Deutsch,1000+,Consulting / Agency

In [ ]:
#2020
df20 = pd.read_csv('IT Salary Survey EU 2020.csv')
df20 = df20.drop(['Your main technology / programming language', 'Years of experience in Germany', 'Other technologies/programming languages you use often'], axis = 1)
df20 = df20.drop(['Yearly bonus + stocks in EUR', 'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country', 'Annual bonus+stocks one year ago. Only answer if staying in same country'], axis = 1)
df20 = df20.drop(['Number of vacation days', 'Employment status', 'Сontract duration', 'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week', 'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'], axis = 1)
df20 = df20.rename(columns = {'Timestamp': 'Year', 'Total years of experience': 'Years of experience', 'Seniority level': 'Current level', 'Yearly brutto salary (without bonus and stocks) in EUR': 'Current Salary', 'Position ': 'Position'})
df20

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,Senior,80000.0,English,51-100,Product,No
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,Senior,80000.0,English,101-1000,Product,No
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,Lead,120000.0,English,101-1000,Product,Yes
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,Junior,54000.0,English,51-100,Startup,No
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,Senior,62000.0,English,101-1000,Product,No
...,...,...,...,...,...,...,...,...,...,...,...,...
1248,18/01/2021 15:05:50,31.0,Male,Berlin,Backend Developer,9,Senior,70000.0,English,51-100,Product,Yes
1249,18/01/2021 17:46:02,33.0,Male,Berlin,Researcher/ Consumer Insights Analyst,10,Senior,60000.0,English,1000+,Product,No
1250,18/01/2021 23:20:35,39.0,Male,Munich,IT Operations Manager,15,Lead,110000.0,English,101-1000,eCommerce,No
1251,19/01/2021 10:17:58,26.0,Male,Saarbrücken,Frontend Developer,7,Middle,38350.0,German,101-1000,Product,No
1252,19/01/2021 12:01:11,26.0,Male,Berlin,DevOps,2,Middle,65000.0,English,51-100,Startup,No

In [ ]:
df20 = df20.dropna(subset=['Position', 'Current level', 'Current Salary'])
df20 = df20.drop_duplicates()
df20['Year'] = '2020'
df20 = df20.fillna({'Age': df20['Age'].mean()})
df20 = df20.fillna({'Gender': 'M'})
#df20 = df20.fillna({'Years of experience': df20['Years of experience'].mean()})
df20 = df20.reindex(columns = ['Year', 'Age', 'Gender', 'City', 'Position', 'Years of experience', 'Current level', 'Current Salary', 'Main language at work', 'Company size', 'Company type'])
df20

,Year,Age,Gender,City,Position,Years of experience,Current level,Current Salary,Main language at work,Company size,Company type
0,2020,26.0,Male,Munich,Software Engineer,5,Senior,80000.0,English,51-100,Product
1,2020,26.0,Male,Berlin,Backend Developer,7,Senior,80000.0,English,101-1000,Product
2,2020,29.0,Male,Berlin,Software Engineer,12,Lead,120000.0,English,101-1000,Product
3,2020,28.0,Male,Berlin,Frontend Developer,4,Junior,54000.0,English,51-100,Startup
4,2020,37.0,Male,Berlin,Backend Developer,17,Senior,62000.0,English,101-1000,Product
...,...,...,...,...,...,...,...,...,...,...,...
1248,2020,31.0,Male,Berlin,Backend Developer,9,Senior,70000.0,English,51-100,Product
1249,2020,33.0,Male,Berlin,Researcher/ Consumer Insights Analyst,10,Senior,60000.0,English,1000+,Product
1250,2020,39.0,Male,Munich,IT Operations Manager,15,Lead,110000.0,English,101-1000,eCommerce
1251,2020,26.0,Male,Saarbrücken,Frontend Developer,7,Middle,38350.0,German,101-1000,Product
1252,2020,26.0,Male,Berlin,DevOps,2,Middle,65000.0,English,51-100,Startup

In [ ]:
df = pd.concat([df18, df19, df20], axis = 0)
df.to_csv('IT Salary 2018_2019_2020.csv')

In [ ]:
df['Gender'] = df['Gender'].replace("F","Female")
df['Gender'] = df['Gender'].replace("M","Male")
df['index'] = range(0, len(df))
df = df.set_index('index')
df